/*****
Stuff!
*****/
$smallConWidth: 640px;

$conTopImagePadding: 9px;
$conTopImageDiameter: 70px + ($conTopImagePadding * 2);

$boxShadow: 0 2px 4px rgba(0,0,0,0.5);
$textShadow: 0px 2px 4px rgba(0,0,0,0.5);

/*****
Colors!
*****/

$tempura3: #af6816;
$wave2: #64afca;
$wave3: #1b88b0;
$wave4: #03678b;
$pebble1: #f0eee9;
$pebble2: #dedcd6;
$pebble3: #bebbb3;
$pebble4: #9e9a91;
$pebble8: #36322d;
$bamboo2: #9cbe30;
$bamboo3: #7a9c0f;
$coral1: #f49f99;
$coral2: #e57770;
$coral4: #a62219;
$jade1: #97cfcb;
$jade2: #71b5b0;
$jade3: #3d7b77;
$jade4: #2c6965;

$white: white;
$blackText: #4A4A4A;
$border: rgba(151, 151, 151, 0.2);

// Non-standard colors
// Non-standard colors
$coral0: #f0d9D8;
$coral5: #C1574A;
$coral6: #BD4646;
$jade0: #ccebe6;
$jade5: #1c7883;
$jade6: #115a63;
$jade7: #2B6C74;
$jade8: #00B0AF;
$pebble5: #979797;
$pebble6: #666666;
$pebble7: #f8f7f3;
$tempura5: #C0803A;
$tempura6: #BD6D30;
$tempura7: #8B572A;
$tempura8: #B97028;
$tempura9: #AB5500;
$wave5: #1D8FB7;
$wave6: #476E85;
$wave7: #3A5081;
$wave8: #579EB6;

// Off-palette non-standard colors
$orange0: #D19900;
$orange2: #EFA017;
$orange3: #F8B40D;
$orange1: #FEF3D6;
$orange4: #FBD25C;

$rose1: #9A2C52;

$rust0: #B66344;
$rust1: #AD502F;

$ocean0: #81A0D4;
$ocean1: #6386BF;
$ocean2: #66829A;
$ocean3: #3A5081;
